<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- I do recomend updating values from "https://github.com/frk1/hazedumper/blob/master/csgo.cs" -->
  <appSettings>
    <!-- General Settings -->
    <!-- Name of CSGO process. -->
    <add key="ProcessName" value="csgo"/>
    <add key="ClientModule" value="client.dll"/>
    <!-- Delay which is used to check before each each if a module is active. (in milliseconds) -->
    <add key="DelayBeforeModuleCheck" value="2000"/>
    <!-- Offsets -->
    <add key="m_iCrosshairId" value="0xB2A4"/>
    <add key="m_iHealth" value="0xFC"/>
    <add key="m_iTeamNum" value="0xF0"/>
    <!-- Signatures -->
    <add key="dwEntityList" value="0x4A7D0F4"/>
    <add key="dwForceAttack" value="0x2EBF474"/>
    <add key="dwLocalPlayer" value="0xAA00FC"/>
  </appSettings>
</configuration>